

<h1>Shipments</h1>


    <% @shipments.each do |shipment| %>

      <strong>Tracking Number: </strong> <%= shipment.trackingnumber %>
      <strong>Destination: </strong> <%= shipment.destination %>
      <strong>Status: </strong> <%= shipment.status %>
      <strong>Last Scan:</strong> <%= shipment.lastscan %>


    <% end %>

<br>
